
#header {
    padding-top:3em;
}

@media screen and (max-width: 1280px) { 
    #header {
        padding-top:3em;
    }
}

@media screen and (max-width: 736px) {
    #header {
        padding-top:1.3em;
    }
}
