
.certif {
    margin-bottom:1em; 
    font-size: 1.5em;
}

@media screen and (max-width: 480px) {   
    .columnRight {        
        width: 60%;
    } 
    .workContainer h2 {
        font-size: 1.2em;
    }
    .certif {
        font-size: 1.2em;
    }
} 

