.columnLeft {
    float:left;
    width: 40%;
}

.columnRight {
    float: right;
    width: 40%;
    margin-bottom: 2em; 
}

ul.alt {
    list-style: circle;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

ul.alt li {
    border-bottom: solid 1px #c9c9c9;
    border-top: none;
    padding: 0.5em 0;
}

@media screen and (max-width: 980px) {    
    .columnRight {        
        width: 40%;
    } 
}

@media screen and (max-width: 480px) {       
    .columnLeft {
        float:left;
        width: 100%;
    }    
    .columnRight {        
        float:left;
        width:100%;
        margin-bottom: 4em; 
    } 
    ul {        
        margin-bottom: 0;        
    }
    h2 {
        margin-top: 2em;       
    }
}

